body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom styles start */

.d-flex {
  display: flex !important;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-direction-row-reverse {
  flex-direction: row-reverse;
}

.rounded-8 {
  border-radius: 8%;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-center {
  justify-content: center;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.wrapper {
  margin-top: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokeball {
  width: 250px;
  height: 250px;
  border: 2px solid #384b4f;
  border-radius: 50% ;
  background-image: linear-gradient(
    #f51939 125px,
    white 125px 
  );
  position: relative;
  animation: frames .8s  linear 0s infinite;
}

.pokeball:after {
  position: absolute;
  content: '';
  height: 90px;
  width: 90px;
  background-image: radial-gradient(
    #ffffff 0px, #ffffff 10px,
    #383b4f 10px, #383b4f 15px,
    #ffffff 15px, #ffffff 32px,
    #383b4f 32px
  );
  border-radius: 50%;
  top: 80px;
  left: 80px;
}

.pokeball:before{
  content: '';
  position: absolute;
  background-color: #383b4f;
  width: 250px;
  height:25px;
  top: 112.5px;
}

.column {
  animation: fadeIn ease 2s;
}

/* AnimationFrames */
@keyframes frames {
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1;
  }
}

/* Custom styles end */